.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 52px);
  }
  
  .image-container img {
    max-width: 100%;
    max-height: 100%;
  }
  